<?php
return [
    'api' => [
        'url' => 'http://api.cloudschool.tw',
        'client_id' => 'xxxxxxxxxxxx',
        'client_secret' => 'xxxxxxxxxxxxx'
    ],

    'db' => [
        'host' => "mysqldb",
        'user' => "root",
        'password' => "root",
        'dbname' => "school_cms",
        'charset' => "utf8mb4"
    ]
];